<div class="sidebar__widget">
Addresses of some members of the collaboration board:
<p>
<ulmargin-left: 0.75em;
text-align: left;>
    <li><a href="mailto:michael.seymour@manchester.ac.uk"><b>Mike Seymour</b></a></li>
    <li><a href="mailto:peter.skands@cern.ch"><b>Peter Skands</b></a></li>
    <li><a href="mailto:peter.richardson@durham.ac.uk"><b>Peter Richardson</b></a></li>
    <li><a href="mailto:steffen.schumann@phys.uni-goettingen.de"><b>Steffen Schumann</b></a></li>
    <li><a href="mailto:gieseke@particle.uni-karlsruhe.de"><b>Stefan Gieseke</b></a></li>
    <li><a href="mailto:fabio.maltoni@uclouvain.be"><b>Fabio Maltoni</b></a></li>
    <li><a href="mailto:leif.lonnblad@thep.lu.se"><b>Leif Lönnblad</b></a></li>
    <li><a href="mailto:J.Butterworth@ucl.ac.uk"><b>Jon Butterworth</b></a></li>
    <li><a href="mailto:andy.buckley@glasgow.ac.uk"><b>Andy Buckley</b></a></li>
</ul>
</div>
