<div class="sidebar__widget">
Direct links to agenda pages of network meetings:
<p>
<ulmargin-left: 0.75em;
text-align: left;>
    <li><a href="https://indico.cern.ch/event/10093/"><b>CERN, January 2007</b></a></li>
    <li><a href="example.com"><b>Durham, April 2007</b></a></li>
    <li><a href="https://indico.cern.ch/event/25822/"><b>Lund, January 2008</b></a></li>
    <li><a href="example.com"><b>Debrecen, August 2008</b></a></li>
    <li><a href="https://conference.ippp.dur.ac.uk/event/241/"><b>Durham, January 2009</b></a></li>
    <li><a href="example.com"><b>Mid-term review meeting</b></a></li>
    <li><a href="example.com"><b>Lund, June 2009</b></a></li>
    <li><a href="https://indico.cern.ch/event/74995/"><b>CERN, January 2010</b></a></li>
    <li><a href="example.com"><b>"Brianfest"</b></a>, and <a href="https://indico.cern.ch/event/105639/"><b>Cambridge, September 2010</b></a></li>
    <li><a href="https://indico.hep.manchester.ac.uk/conferenceDisplay.py?confId=4198"><b>Manchester, October 2013</b></a></li>
    <li><a href="https://indico.cern.ch/event/304906/"><b>CERN, April 2014</b></a></li>
    <li><a href="https://indico.scc.kit.edu/event/56/"><b>Karlsruhe, October 2014</b></a></li>
    <li><a href="https://indico.scc.kit.edu/event/55/"><b>Mid-term review meeting</b></a></li>
    <li><a href="https://indico.hep.manchester.ac.uk/conferenceDisplay.py?confId=4804"><b>CERN, September 2015</b></a></li>
    <li><a href="https://indico.cern.ch/event/485994/"><b>Göttingen, April 4th-6th 2016</b></a></li>
    <li><a href="https://indico.cern.ch/event/486432/"><b>School of Scientific Computing, May 2016</b></a></li>
    <li><a href="https://indico.cern.ch/event/572313/"><b>CERN, November 23rd-25th 2016</b></a></li>
    <li><a href="https://indico.cern.ch/event/572320/"><b>Grant-writing Day, CERN, November 22nd 2016</b></a></li>
    <li><a href="https://indico.cern.ch/event/614415/"><b>CERN, April, 5th-7th 2017</b></a></li>
    <li><a href="https://indico.scc.kit.edu/event/322/"><b>Karlsruhe, September, 27th-29th 2017</b></a></li>
    <li><a href="https://indico.cern.ch/event/689514/"><b>CERN, 10th-12th April 2018</b></a></li>
    <li><a href="https://indico.cern.ch/event/724719/"><b>2nd School of Scientific Computing, September 2018</b></a></li>
</ul>
</div>
