<div class="sidebar__widget">
Direct links to the home pages of the different schools:
<p>
<ulmargin-left: 0.75em;
text-align: left;>
    <li><a href="https://indico.cern.ch/event/1104027/"><b>Zakopane 2022</b></a></li>
    <li><a href="https://indico.cern.ch/event/1005703/"><b>Karlsruhe/Dresden 2021</b></a></li>
    <li><a href="https://indico.ihep.ac.cn/event/11202/"><b>China 2021</b></a></li>
    <li><a href="https://indico.cern.ch/event/776026/"><b>UCL 2019</b></a></li>
    <li><a href="https://indico.cern.ch/event/796134/"><b>Vietnam 2019</b></a></li>
    <li><a href="https://indico.cern.ch/event/669309/"><b>Monash 2018</b></a></li>
    <li><a href="https://indico.cern.ch/event/611360/"><b>Lund 2017</b></a></li>
    <li><a href="https://indico.cern.ch/event/1005703/"><b>DESY 2016</b></a></li>
    <li><a href="https://indico.hep.manchester.ac.uk/conferenceDisplay.py?confId=4688"><b>Louvain 2015</b></a></li>
    <li><a href="https://indico.hep.manchester.ac.uk/conferenceDisplay.py?confId=4413"><b>Manchester 2014</b></a></li>
    <li><a href="https://indico.desy.de/event/7132/"><b>Göttingen 2013</b></a></li>
    <li><a href="https://indico.cern.ch/event/174777/"><b>CERN 2012</b></a></li>
    <li><a href="https://www.hep.phy.cam.ac.uk/theory/mcschool11/"><b>Kyoto 2011</b></a></li>
    <li><a href="http://www.physics.smu.edu/scalise/cteq/schools/2010CTEQ-MCnetSummerSchool.html"><b>Kalrsruhe 2010</b></a></li>
    <li><a href="https://conference.ippp.dur.ac.uk/event/264/"><b>Lund 2009</b></a></li>
    <li><a href="http://example.com/"><b>CTEQ 2008</b></a></li>
    <li><a href="http://example.com/"><b>Durham 2007</b></a></li>
</ul>
</div>
